<div class="sidebar_inner_div">
  <div class="button">
    <a routerLink="/dashboard/customers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> All
      customers</a>
  </div>
  <div class="button">
    <a routerLink="/dashboard/add-customer" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Add
      Customer</a>
  </div>

  <div class="button">
    <a routerLink="/dashboard/pending-bills" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Pending Bills</a>
  </div>

  <div class="button">
    <a routerLink="/dashboard/add-customers-csv" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">Add customers using CSV</a>
  </div>

  <div class="button" (click)="logout()">
    <a routerLink="" style="color: red;" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">Logout</a>
  </div>

</div>