.sidebar_inner_div {
  margin-top: 6%;
  border-radius: 10px;
}

.button {
  padding: 10px;
  text-align: left;
  border-radius: 10px;
}

.button a {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  color: #00acc1;
  font-weight: bold;
  cursor: pointer;
}

.button a:hover {
  background-color: #ddeaf6;
  border-radius: 5px;
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24
}

.active {
  background-color: #ddeaf6;
  border-radius: 10px;
}