<nav class="sidebar">
    <ul>
      <li><a routerLink="/dashboard/customers" routerLinkActive="active">All Customers</a></li>
      <li><a routerLink="/dashboard/add-customer" routerLinkActive="active">Add Customer</a></li>
      <li><a routerLink="/dashboard/pending-bills" routerLinkActive="active">Pending Bills</a></li>
      <li><a routerLink="/dashboard/add-customers-csv" routerLinkActive="active">Add Customers (CSV)</a></li>
      <li><a routerLink="/dashboard/profile" routerLinkActive="active">Profile</a></li>
    </ul>
    <button (click)="logout()" class="logout-btn">Logout</button>
  </nav>